body{font-family: sans-serif;margin: 0;padding: 0;}

.coffeeItem{
  width: inherit;
  height: inherit;
  background: inherit;
  border: 0;
  padding: 10px;
  text-align: left;
}
.coffeeItem:hover{background: #99eebb;}
.coffeeItem:active{background: #88ddaa;}
.coffeePrice{
  display: block;
  position: relative;
  top:-28px;
  right: -122px;
  width: 0;
  margin: 0
}

li{
  width: 100%;
  height: 40px;
  list-style: none;
  border: 0;
  border-bottom: 1px solid white;
}

.coffee-machine{
  width:150px;
  border: 1px solid #dddddd;
  margin: 20px;
  background:#aabfdc;
}

#coffee-container{
  padding: 0;
  margin: 0;
  width:100%;
  background: inherit;
}

#btn{
  border: 0;
  background: #ddaa99;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid white;
}
#btn:hover{background: #cc9988;}
#btn:active{background: #bb8877;}

.coffeeItem:focus, #btn:focus{outline: 0;}

.money-bar{
  width:120px;
  float:right;
}

#_1{
  background: url('../img/1450325266_1-rubl.jpg');
  color: transparent;
  background-size: 100%;
  min-width:50px;
  height: 50px;
  border:0;
}
#_2{
  background: url('../img/2016-2rub-r.jpg');
  color: transparent;
  background-size: 100%;
  min-width:50px;
  height: 50px;
  border:0;
}
#_5{
  background: url('../img/19981226sr.jpg');
  color: transparent;
  background-size: 105%;
  min-width:50px;
  height: 50px;
  border:0;
}
#_10{
  background: url('../img/10r2012_002.jpg');
  color: transparent;
  background-size: 100%;
  min-width:50px;
  height: 50px;
  border:0;
}
#_50{
  background: url('../img/Banknote_50_rubles_(1997)_back.jpg');
  color: transparent;
  background-size: 100%;
  min-width:115px;
  height: 50px;
  border:0;
}
#_100{
  background: url('../img/100-2004_01.jpg');
  color: transparent;
  background-size: 100%;
  min-width:115px;
  min-height: 50px;
  border:0;
}
#_500{
  background: url('../img/500R_01_rv.jpg');
  color: transparent;
  background-size: 100%;
  min-width:115px;
  height: 50px;
  border:0;
}
